[submodule "components/AirgradientClient"]
	path = components/AirgradientClient
	url = https://github.com/Gingerman1996/airgradient-client.git
[submodule "components/AirgradientOTA"]
	path = components/AirgradientOTA
	url = https://github.com/Gingerman1996/airgradient-ota.git
